<div class="flex flex-col justify-center items-center  w-full p-10 bg-[#DBEAF282]">

    <div class="w-full flex justify-between items-center ">

        <div class="flex flex-col justify-between items-center w-1/2 h-fit gap-10 ">
            <h1 class="text-3xl 2xl:text-5xl font-bold w-full">Ce que disent nos utilisateurs</h1>
            <p class="text-base 2xl:text-lg w-full pr-20">"Nos utilisateurs partagent leur expérience et leur
                satisfaction avec One.
                Qu’ils
                soient
                patients, médecins ou
                administrateurs, ils apprécient la simplicité, la sécurité et l’efficacité de notre plateforme pour
                gérer les dossiers
                médicaux au quotidien."</p>
            <div class="w-full ">
                <button
                    class="bg-[#2D6974] text-white 2xl:text-xl font-bold 2xl:px-8 2xl:py-4 px-6 py-3 rounded-full ">Logout</button>
            </div>

        </div>
        <div class="flex flex-col justify-between items-center h-full gap-5 w-1/2">
            <app-card [mainImage]="'assets/images/Ellipse 95.svg'" [altText]="'Dr. John Doe'" [title]="'Dr. John Doe'"
                [description]="'L’interface intuitive de One me permet de me concentrer davantage sur mes patients que sur les tâches administratives. C’est un outil indispensable à mon quotidien.'"
                [citationImage1]="'assets/images/citation (1).svg'" [citationImage2]="'assets/images/citation (2).svg'"
                (cardClick)="handleCardClick()"></app-card>

            <app-card [mainImage]="'assets/images/Ellipse 95.svg'" [altText]="'Dr. John Doe'" [title]="'Dr. John Doe'"
                [description]="'L’interface intuitive de One me permet de me concentrer davantage sur mes patients que sur les tâches administratives. C’est un outil indispensable à mon quotidien.'"
                [citationImage1]="'assets/images/citation (1).svg'" [citationImage2]="'assets/images/citation (2).svg'"
                (cardClick)="handleCardClick()"></app-card>

            <app-card [mainImage]="'assets/images/Ellipse 95.svg'" [altText]="'Dr. John Doe'" [title]="'Dr. John Doe'"
                [description]="'L’interface intuitive de One me permet de me concentrer davantage sur mes patients que sur les tâches administratives. C’est un outil indispensable à mon quotidien.'"
                [citationImage1]="'assets/images/citation (1).svg'" [citationImage2]="'assets/images/citation (2).svg'"
                (cardClick)="handleCardClick()"></app-card>

            <app-card [mainImage]="'assets/images/Ellipse 95.svg'" [altText]="'Dr. John Doe'" [title]="'Dr. John Doe'"
                [description]="'L’interface intuitive de One me permet de me concentrer davantage sur mes patients que sur les tâches administratives. C’est un outil indispensable à mon quotidien.'"
                [citationImage1]="'assets/images/citation (1).svg'" [citationImage2]="'assets/images/citation (2).svg'"
                (cardClick)="handleCardClick()"></app-card>
        </div>






    </div>

</div>