<div class="w-full h-full flex justify-center items-center py-10 px-32">

    <div class="flex flex-col justify-between items-center gap-10">
        <h1 class="text-5xl font-bold">Comment ça marche ?</h1>
        <div class="grid grid-cols-5 w-full h-full gap-y-40">
            <div class=" w-full grid grid-rows-3 col-span-2">
                <div class=" flex flex-col justify-between items-end w-full px-3 py-16 gap-5">
                    <img src="assets/images/Group 30.svg" alt="1" class="w-16 h-16">
                    <h1 class="text-4xl font-semibold">Connexion</h1>
                    <p class="w-full text-lg">"Connectez-vous rapidement pour retrouver vos dossiers médicaux ou
                        administrer
                        ceux de vos
                        patients, le tout en toute
                        sécurité."</p>
                </div>

                <div class=" flex justify-end items-center py-16">
                    <img src="assets/images/fichier-de-recherche 1.svg" alt="1" class="w-40">
                </div>

                <div class=" flex flex-col justify-between items-end w-full px-3 py-16 gap-5">
                    <img src="assets/images/Group 32.svg" alt="1" class="w-16 h-16">
                    <h1 class="text-4xl font-semibold">Connexion</h1>
                    <p class="w-full text-lg">"Connectez-vous rapidement pour retrouver vos dossiers médicaux ou
                        administrer
                        ceux de vos
                        patients, le tout en toute
                        sécurité."</p>
                </div>
            </div>
            <div class="w-full flex justify-center items-center ">
                <div class="bg-gray-200 h-full w-2 relative ">
                    <!-- Progress Bar -->
                    <div class="bg-[#2D6974] w-full absolute top-0" [style.height.%]="scrollPercentage"></div>
                    <!-- Circle -->
                    <div class="absolute  w-4 h-4 bg-[#2D6974] rounded-full " [style.top.%]="scrollPercentage"
                        style="transform: translateY(-50%) translateX(-25%);">
                    </div>
                </div>
            </div>






            <div class=" w-full grid grid-rows-3 col-span-2">
                <div class=" flex justify-start items-center py-10">
                    <img src="assets/images/sortie 1.svg" alt="1" class="w-44">
                </div>

                <div class=" flex flex-col justify-between items-start w-full px-3 py-10 gap-5">
                    <img src="assets/images/Group 31.svg" alt="1" class="w-16 h-16">
                    <h1 class="text-4xl font-semibold">Connexion</h1>
                    <p class="w-full text-lg">"Connectez-vous rapidement pour retrouver vos dossiers médicaux ou
                        administrer
                        ceux de vos
                        patients, le tout en toute
                        sécurité."</p>
                </div>
                <div class=" flex justify-start items-end py-10">
                    <img src="assets/images/lanalyse-des-donnees 1.svg" alt="1" class="w-40">
                </div>
            </div>
        </div>

    </div>
</div>