<div class="soin-container">
    <div><p class="date-text"> DATE </p></div>

    <div class="soin-box">
        <div class="green-bar"></div>
        <ul style="list-style-type: none;">
            <li>
                <p class="soin-title-text">Title :</p>    
            </li>
            <li>
                <p class="soin-description-text">Description :</p>    
            </li>
            <li>
                <p class="soin-nurse-text">Infirmier :</p>    
            </li>
            <li>
                <p class="soin-observations-text">Observations</p>    
            </li>
        </ul>
    </div>
</div>

