<header class="dashboard-header">
  <input type="text" placeholder="Rechercher" class="search-bar" />
  <div class="user-info">
    <button class="help-btn">
      <img class="help-icon" src="assets/icons/aide.svg" alt="Aide" />
    </button>
    <button class="notification-btn">
      <img class="notification-icon" src="assets/icons/notification.svg" alt="Notifications" />
    </button>
    <img src="assets/icons/pdp.svg" alt="User Profile" class="user-icon" />
    <span class="user-name"></span>
  </div>
</header>