<nav class="flex justify-between items-center pr-6 py-4  w-full">
    <!-- Left-side menu items -->
    <div class="flex gap-5 md:gap-10 lg:gap-20 lg:text-lg  ">
        <a href="#" class=" font-medium">Accueil</a>
        <a href="#" class="  font-medium">Fonctionnalités</a>
        <a href="#" class=" font-medium">À propos</a>
        <a href="#" class="  font-medium">Contact</a>
    </div>

    <!-- Right-side login button -->
    <div>
        <button
            class="bg-teal-700 text-white font-semibold px-4 py-2 rounded-full hover:bg-teal-800 transition duration-200">
            Se connecter
        </button>
    </div>
</nav>