.nav-item {
    padding: 10px; /* même padding pour tous les éléments */
}
.active-nav-item {
    background-color: #ffffff;
    color: #2D6974;
    font-weight: bold;
    border-top-left-radius: 15px; 
    border-bottom-left-radius: 15px;
    padding: 10px;
  }
  .active-nav-item.dashboard svg path {
    stroke: #2D6974;
    }

.active-nav-item:not(.dashboard) svg path {
    stroke: #2D6974; 
    fill: #2D6974; 
    stroke-width:0;

    }