<!-- Conteneur principal de la barre latérale -->
<div
  class="sidenav"
  [ngClass]="isLeftSidebarCollapsed ? 'sidenav-collapsed' : ''"
>
 <!-- Section contenant le logo -->
  <div class="logo-container">
    <!-- Bouton du logo avec un événement pour réduire ou agrandir la barre latérale -->
    <button class="logo" (click)="toggleCollapse()">
      <img class="sidenav-link-icon" src="assets/icons/one.svg" alt="Logo" />
    </button>
     <!-- Affiche le texte du logo uniquement si la barre latérale n'est pas réduite -->
    <div *ngIf="!isLeftSidebarCollapsed" class="logo-text"></div>
    <button *ngIf="!isLeftSidebarCollapsed" class="btn-close" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>


  <!-- Liste des liens de navigation -->
  <ul class="sidenav-nav">
    <!-- Parcours de la liste d'éléments 'items' pour afficher chaque lien de navigation -->
    <li class="sidenav-nav-item" *ngFor="let item of items">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <!-- Affiche l'icône associée à l'élément -->
        <img class="sidenav-link-icon" [src]="item.icon" />
        <!-- Affiche le texte associé au lien uniquement si la barre latérale n'est pas réduite -->
        <span *ngIf="!isLeftSidebarCollapsed" class="sidenav-link-text">{{ item.label }}</span>
      </a>
    </li>
  </ul>

  <!-- Section pour le bouton de déconnexion -->
   
  <div class="logout-section">
    <a class="sidenav-nav-link" [routerLink]="logout.routeLink">
      <!-- Icône de déconnexion -->
      <img class="sidenav-link-icon" [src]="logout.icon" alt="{{ logout.label }}" />
      <!-- Texte de déconnexion uniquement si la barre latérale n'est pas réduite -->
      <span *ngIf="!isLeftSidebarCollapsed" class="sidenav-link-text logout-text">
        {{ logout.label }}
      </span>
    </a>
  </div>