.bg-login {
  background-image: url("C:/Users/abcd/OneDrive/Documents/Personal Work/WEB/PRJT_IGL/frontend/public/assets/images/login.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Optional: Matches the viewport height */
}
