<div class="flex items-center justify-center h-screen w-full bg-gray-100 px-10">
    <div class="w-full  flex flex-col gap-5">
        <app-faq-card title="Qu’est-ce que One ?" index="01"
            content="One est une plateforme de gestion de projet qui vous permet de gérer vos projets de manière simple et efficace. Vous pouvez créer des projets, des tâches, des équipes et des tableaux de bord pour suivre l’avancement de vos projets."></app-faq-card>

        <app-faq-card title="Comment signaler une erreur dans mon dossier ?" index="02"
            content="Si vous constatez une erreur, contactez votre médecin ou le service administratif via notre formulaire de contact intégré."></app-faq-card>

        <app-faq-card title="Puis-je accéder à mon dossier médical à tout moment ?" index="03"
            content="Absolument ! Vous pouvez consulter votre dossier médical 24h/24 depuis votre espace utilisateur, à condition d’avoir une connexion internet."></app-faq-card>

        <app-faq-card title="Puis-je demander une copie papier de mon dossier médical ?" index="04"
            content="Oui, vous pouvez demander une copie papier directement via votre espace utilisateur ou auprès de votre médecin."></app-faq-card>
    </div>
</div>