<!-- dashboard.component.html -->
<div class="dashboard">
  <app-navbar></app-navbar>

<div class="content">
  <div class="welcome">
    <h3>Bonjour Madame DJAFOUR Touria!</h3>
    <br>
    <p>Bienvenue dans votre tableau de bord. Accédez facilement à vos outils pour une gestion simplifiée et efficace.</p>
  </div>
</div>
  <div class="patient-info">
    <h3>Patient</h3>
    <p>DJAFOUR Touria</p>
    <br>
    <p>NSS: <strong>102 123456</strong></p>
    <p>Médecin traitant: <strong>Dr. DJAFOUR</strong></p>
  </div>

  <div class="content">
    <div class="ordonnances">
      <h3>Mes dernières ordonnances</h3>
      <br>
      <ul>
        <li>
          <span>Ord 1</span>
          <span class="status">En cours de validation</span>
          <button class="visualiser-btn">
            <img class="visualiser-icon" src="assets/icons/Visualiser.svg" alt="Visualiser" />
          </button>
          <button class="download-btn">
            <img class="download-icon" src="assets/icons/Download.svg" alt="Télécharger" />
          </button>
        </li>
        <li>
          <span>Ord 2</span>
          <span class="status valid">Validée</span>
          <button class="visualiser-btn">
            <img class="visualiser-icon" src="assets/icons/Visualiser.svg" alt="Visualiser" />
          </button>
          <button class="download-btn">
            <img class="download-icon" src="assets/icons/Download.svg" alt="Télécharger" />
          </button>

        </li>
      </ul>
    </div>

    <div class="consultations">
      <h3>Mes consultations</h3>
      <br>
      <div class="calendar">
        <!-- Intégration du calendrier -->
        <p>March 2024</p>
      </div>
    </div>
  </div>

  <div class="content">
  <div class="imageries">
    <h3>Imageries en attente</h3>
    <br>
    <ul>
      <li>
        <span>Radiographie du thorax</span>
        <button class="voir-bilan-btn"><strong>Voir bilan </strong></button>
      </li>
      <li>
        <span>IRM Cérébrale</span>
        <button class="voir-bilan-btn"><strong>Voir bilan </strong></button>
      </li>
    </ul>
  </div>
</div>
</div>