.popup-container {
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: #ECECEC;
    border-radius: 43px;
    padding: 20px;
    left: 400px;

}
.top-part {
    display: flex;
    align-items: center; /* align items vertically in the center */
    margin-bottom: 10px;
}

.pop-up-title {
    margin-top: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: black;
    margin-left: 20px; /* Space on the left */
}

.close_icon_button {
    margin-top: 9px;
    border: none;
    width: 30px; 
    height: 30px;
    cursor: pointer; 
    background-color: #ECECEC; 
    border-radius: 5px; 
    transition: background-color 0.3s, border-color 0.3s; /* smooth transition for hover effects */
    padding: 0; /* Remove padding to fit the image */
}


.close_icon_button:hover {
    background-color: #DEE2E6; 
    border-color: #DEE2E6; 
}
.line {
    width: 460px;
    height: 2px;
    background-color: #D1DEE5;
    margin-left: 20px
}

.input-row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for responsive design */
}

.input-group {
    display: flex; 
    flex-direction: column; /* for the label to be above input */
    margin-left: 13px; /* Space between input groups */
    margin-bottom: 5px;
}

.input-group label {
    margin-bottom: 5px; /* Space between label and input box */
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: black;
}

.input-box {
 
    border-radius: 10px; 
    border-width: 2px;
    border-color: #D1DEE5; 
    border-style: solid;
    padding: 0 0 0 10px; 
    box-sizing: border-box; /* include padding and border in height */
    background-color: #FFFFFF; 
    color: black; 
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" >bg-image>"#23FF0000"/></svg>'); 
}

input[readonly]:focus {
    outline: none; /* Supprime la bordure de focus par défaut */
    border: 1px solid #ccc; /* Garde la bordure que vous avez définie */
    box-shadow: none; /* Supprime l'ombre de focus si elle existe */
}



.full-width {
   width: calc(100% - 10px); /* Full width minus margin */
}

.icon {
   transform: scale(0.8);
   margin-right: 10px; /* Space between icon and title */
   vertical-align: middle; /* Align icon vertically with text */
}

.add-cancel-buttons-container {
    display: flex; 
    justify-content: flex-end; /* Align buttons to the right */
    margin-left: 155px; /* Move the buttons to the right by 155px */
}

.add-cancel-buttons {
    width: 160px; 
    height: 27px; 
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    font-size: 12px; 
    border-radius: 10px; 
    border: none;
    cursor: pointer; 
    text-align: center; 
    margin-right: 20px; /* Space between buttons */
    margin-top: 20px;
}
/* Style du bouton de sélection d'image */
.upload-button {
    width: 225px;
    height: 38px;
    border-width: 2px;
    border-color: #D1DEE5; 
    border-style: solid;
    box-sizing: border-box; 
    background-color: #F7FAFC;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin-top: 10px; /* Espace entre le label et le bouton */
}

.upload-button img {
    margin-left: 5px; /* Espace entre le texte et l'icône */
    margin-right: 10px;
}



/* Style du conteneur de l'image */
.image-container {
    height: 140px; 
    margin-top: 10px; /* Espace entre le bouton et le conteneur */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
}

/* Style du rectangle pour afficher l'image sélectionnée */
.image-preview {
    width: 160px;
    height: 120px;
    border: 5px solid #F7FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Style de l'icône de suppression */
.delete-icon {
    position: absolute; 
    top: 50%;
    right: -34px; 
    transform: translateY(-50%); 
    cursor: pointer; 
    font-size: 16px; 
    color: black; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%; 
    width: 24px; 
    height: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s; /* Animation au survol */
}

/* Effet au survol de l'icône de suppression */
.delete-icon:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Fond légèrement gris au survol */
}