<div class="hidden md:flex justify-center items-center flex-col px-10 h-screen">
    <h1 class="text-4xl 2xl:text-6xl font-bold text-[#2D6974]">Découvrez nos fonctionnalités essentielles</h1>
    <div class="grid grid-cols-5 grid-rows-3 gap-8 p-5 h-[92vh] w-full">
        <div class="bg-[#EEF7FF] col-span-2 rounded-3xl flex flex-col justify-center gap-3 py-5 px-3 ">
            <h1 class="lg:text-2xl 2xl:text-4xl text-[#2D6974]  font-bold">Génération automatique de
                rapports</h1>
            <div class="flex justify-between items-center gap-10">
                <h1 class="lg:text-sm 2xl:text-xl ">Créez des résumés détaillés des consultations , prêts à être
                    imprimés.
                </h1>
                <img src="assets/images/imprimante 1.svg" alt="rapport"
                    class="w-0 h-0 lg:w-14 lg:h-14 2xl:w-24 2xl:h-24">
            </div>
        </div>

        <div
            class="bg-[#2D6974] text-white col-span-2 row-start-2 rounded-3xl  flex justify-center gap-5 flex-col py-5 px-3  ">
            <h1 class="lg:text-2xl 2xl:text-4xl  font-bold">Génération automatique de rapports</h1>
            <div class="flex justify-between items-center gap-10">
                <h1 class="lg:text-sm 2xl:text-xl">Créez des résumés détaillés des consultations , prêts à être
                    imprimés.
                </h1>
                <img src="assets/images/notification (1) 1.svg" alt="rapport"
                    class="w-0 h-0 lg:w-14 lg:h-14 2xl:w-24 2xl:h-24">
            </div>
        </div>

        <div class="bg-[#EEF7FF]  col-span-3 row-start-3 rounded-3xl p-5  flex items-center gap-10 justify-between">

            <div class="flex justify-between flex-col gap-3 h-24 2xl:gap-8
            ">
                <h1 class="lg:text-2xl 2xl:text-4xl font-bold text-[#2D6974]">Accès rapide aux dossiers</h1>

                <h1 class="lg:text-sm 2xl:text-xl ">Recherchez et accédez aux dossiers médicaux instantanément grâce au
                    numéro de
                    sécurité sociale (NSS) ou à un QR code.
                </h1>
            </div>

            <img src="assets/images/patient 1.svg" alt="rapport" class="w-0 h-0  lg:w-16 lg:h-16 2xl:w-32 2xl:h-32">
        </div>

        <div class="bg-[#2D6974] text-white row-span-2 rounded-3xl p-5 flex flex-col justify-between items-center">
            <h1 class="lg:text-2xl 2xl:text-4xl font-bold">Historique médical détaillé</h1>
            <h1 class="lg:text-sm max-w-52 2xl:text-xl">Créez des résumés détaillés des consultations , prêts à être
                imprimés.
            </h1>
            <img src="assets/images/archiver 1.svg" alt="rapport" class="w-0 h-0  lg:w-16 lg:h-16 2xl:w-32 2xl:h-32">
        </div>

        <div
            class="bg-[#2D6974] text-white col-span-2 row-start-3 rounded-3xl p-5  flex  justify-between items-center gap-5">
            <div class="flex justify-between flex-col gap-3">
                <h1 class="lg:text-2xl 2xl:text-4xl  font-bold">Sécurité des données</h1>
                <h1 class="text-sm  2xl:text-xl">Profitez d’une solution conforme aux normes, avec des données
                    cryptées
                    et
                    accessibles uniquement aux personnes
                    autorisées.
                </h1>
            </div>

            <img src="assets/images/Group 11632.svg" alt="rapport" class="w-16 h-16 lg:w-16 lg:h-16 2xl:w-32 2xl:h-32">
        </div>

        <div class="bg-[#EEF7FF] col-span-2 row-span-2 rounded-3xl p-5  flex flex-col justify-between items-center ">
            <h1 class="text-xl lg:text-2xl 2xl:text-4xl text-[#2D6974] font-bold">Gestion des ordonnances
                numériques</h1>
            <h1 class="text-sm  2xl:text-xl ">Rédigez, consultez et partagez des ordonnances médicales de manière
                sécurisée,
                avec des détails sur les médicaments, les
                doses et la durée.
            </h1>
            <img src="assets/images/ordonnance.svg" alt="rapport" class="w-16 h-16 lg:w-20 lg:h-20 2xl:w-32 2xl:h-32">
        </div>
    </div>
</div>


<div class="flex md:hidden justify-center items-center w-full">
    <div class="flex flex-col justify-between gap-5 p-5 bg-black w-full">
        <div class="bg-[#EEF7FF] rounded-3xl flex flex-col justify-center items-center text-left px-2 py-5">
            <h1 class="text-[#2D6974] font-bold text-xl mb-5">Génération automatique de rapports</h1>
            <h1 class="text-xs w-full text-left">Créez des résumés détaillés des consultations, prêts à être imprimés.
            </h1>
            <img src="assets/images/imprimante 1.svg" alt="rapport" class="w-12 h-12">
        </div>

        <div class="bg-[#2D6974] text-white rounded-3xl flex justify-center items-center flex-col px-2 py-5 text-left">
            <h1 class="text-xl font-bold mb-5">Génération automatique de rapports</h1>
            <h1 class="text-xs text-left">Créez des résumés détaillés des consultations, prêts à être imprimés.</h1>
            <img src="assets/images/notification (1) 1.svg" alt="rapport" class="w-12 h-12">
        </div>

        <div class="bg-[#EEF7FF] rounded-3xl flex items-center flex-col justify-between px-2 py-5 text-left">
            <h1 class="text-xl w-full font-bold text-[#2D6974] mb-5">Accès rapide aux dossiers</h1>
            <h1 class="text-xs text-left">Recherchez et accédez aux dossiers médicaux instantanément grâce au numéro de
                sécurité sociale (NSS) ou à un QR code.</h1>
            <img src="assets/images/patient 1.svg" alt="rapport" class="w-12 h-12">
        </div>

        <div class="bg-[#2D6974] text-white rounded-3xl flex flex-col justify-between items-center px-2 py-5 text-left">
            <h1 class="text-xl w-full font-bold mb-5">Historique médical détaillé</h1>
            <h1 class="text-xs text-left">Créez des résumés détaillés des consultations, prêts à être imprimés.</h1>
            <img src="assets/images/archiver 1.svg" alt="rapport" class="w-12 h-12">
        </div>

        <div class="bg-[#2D6974] text-white rounded-3xl flex flex-col justify-between items-center px-2 py-5 text-left">
            <h1 class="w-full text-xl font-bold mb-5">Sécurité des données</h1>
            <h1 class="text-xs text-left">Profitez d’une solution conforme aux normes, avec des données cryptées et
                accessibles uniquement aux personnes autorisées.</h1>
            <img src="assets/images/Group 11632.svg" alt="rapport" class="w-12 h-12">
        </div>

        <div class="bg-[#EEF7FF] rounded-3xl flex flex-col justify-between items-center px-2 py-5 text-left">
            <h1 class="text-xl text-[#2D6974] font-bold mb-5">Gestion des ordonnances numériques</h1>
            <h1 class="text-xs text-left">Rédigez, consultez et partagez des ordonnances médicales de manière sécurisée,
                avec des détails sur les médicaments, les doses et la durée.</h1>
            <img src="assets/images/ordonnance.svg" alt="rapport" class="w-12 h-12">
        </div>
    </div>
</div>