<div class="flex justify-center items-center h-screen w-full  ">
    <div class="grid grid-cols-5 grid-rows-3 h-screen gap-8 p-5">
        <div class="bg-[#EEF7FF] col-span-2 rounded-3xl flex flex-col justify-center gap-5 px-10 py-10 ">
            <h1 class="text-[1.595rem] 2xl:text-4xl text-[#2D6974]  font-bold">Génération automatique de
                rapports</h1>
            <div class="flex justify-between items-center gap-10">
                <h1 class="text-sm 2xl:text-xl ">Créez des résumés détaillés des consultations , prêts à être
                    imprimés.
                </h1>
                <img src="assets/images/imprimante 1.svg" alt="rapport" class="w-16 h-16 2xl:w-24 2xl:h-24">
            </div>
        </div>

        <div
            class="bg-[#2D6974] text-white col-span-2 row-start-2 rounded-3xl  flex justify-center gap-5 flex-col p-10 ">
            <h1 class="text-[1.595rem] 2xl:text-4xl  font-bold">Génération automatique de rapports</h1>
            <div class="flex justify-between items-center gap-10">
                <h1 class="text-sm 2xl:text-xl">Créez des résumés détaillés des consultations , prêts à être imprimés.
                </h1>
                <img src="assets/images/notification (1) 1.svg" alt="rapport" class="w-14 h-14 2xl:w-24 2xl:h-24">
            </div>
        </div>

        <div
            class="bg-[#EEF7FF]  col-span-3 row-start-3 rounded-3xl px-10 py-10 flex items-center  justify-between gap-28">

            <div class="flex justify-between flex-col gap-3 h-24 2xl:gap-8
            ">
                <h1 class="text-[1.595rem] 2xl:text-4xl font-bold text-[#2D6974]">Accès rapide aux dossiers</h1>

                <h1 class="text-sm 2xl:text-xl ">Recherchez et accédez aux dossiers médicaux instantanément grâce au
                    numéro de
                    sécurité sociale (NSS) ou à un QR code.
                </h1>
            </div>

            <img src="assets/images/patient 1.svg" alt="rapport" class="w-24 h-24 2xl:w-32 2xl:h-32">
        </div>

        <div
            class="bg-[#2D6974] text-white row-span-2 rounded-3xl p-10 gap-5 flex flex-col justify-between items-center">
            <h1 class="text-[1.595rem] 2xl:text-4xl font-bold">Historique médical détaillé</h1>
            <h1 class="text-sm max-w-52 2xl:text-xl">Créez des résumés détaillés des consultations , prêts à être
                imprimés.
            </h1>
            <img src="assets/images/archiver 1.svg" alt="rapport" class="w-20 h-20 2xl:w-32 2xl:h-32">
        </div>

        <div
            class="bg-[#2D6974] text-white col-span-2 row-start-3 rounded-3xl px-10 py-10 flex  justify-between items-center gap-5">
            <div class="flex justify-between flex-col gap-3">
                <h1 class="text-[1.595rem] 2xl:text-4xl  font-bold">Sécurité des données</h1>
                <h1 class="text-sm  2xl:text-xl">Profitez d’une solution conforme aux normes, avec des données cryptées
                    et
                    accessibles uniquement aux personnes
                    autorisées.
                </h1>
            </div>

            <img src="assets/images/Group 11632.svg" alt="rapport" class="w-20 h-20 2xl:w-32 2xl:h-32">
        </div>

        <div
            class="bg-[#EEF7FF] col-span-2 row-span-2 rounded-3xl px-10 py-10 flex flex-col justify-between items-center">
            <h1 class="text-[1.595rem] 2xl:text-4xl text-[#2D6974] font-bold">Gestion des ordonnances numériques</h1>
            <h1 class="text-sm  2xl:text-xl ">Rédigez, consultez et partagez des ordonnances médicales de manière
                sécurisée,
                avec des détails sur les médicaments, les
                doses et la durée.
            </h1>
            <img src="assets/images/ordonnance.svg" alt="rapport" class="w-24 h-24 2xl:w-32 2xl:h-32">
        </div>
    </div>
</div>